.title {
 display: flex;
 flex-direction: column;
 justify-content: center;

}

.center {
  align-items: center;
}

.white {
  color:var(--white);
}

.line {
  width: 82px;
  height: 3px;
  margin-top: 15px;
  background-color: var(--main-blue);
}

.yellow {
  background-color: var(--yellow);
}





