.about {
  margin-bottom: 120px;
}


.title__container {
  margin-bottom: 120px;
}

.prev, .next {
cursor: pointer;
width: 40px;
height: 100px;
}

.prevP:hover * {
  fill:aqua;
}

.title__container {
  margin: 120px auto 60px;
}

.actions {
  display: flex;
}

@media (max-width:1440px) {
  .title__container{
    margin: 7% auto 10%;
  }
}