.first90Days {
  background-color: var(--second-blue);
}

.title__container {
  max-width: 800px;
  text-align: center;
  margin: 0 auto; 
  margin-bottom: 70px;
}

.firstDay__text {
  padding: 22px 60px;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 148.023%;
  border:3px solid var(--grey);
}

.firstDay__text span {
  display: block;
  font-size: 20px;
  font-weight: 300;
  margin-left: 50px;
  line-height: 130%;
}