body {
  font-family: 'Inter', sans-serif;
  color: var (--grey-text, #242424);
}

body * {
    transition: all .3s;
}
h2 {
  color: var(--grey-text );
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

:root {
  --white: #FFFFFF;
  --main-blue:#096BB4;
  --blue:#033F85;
  --grey:#F1F5F6;
  --dark-grey:#2F3338;
  --grey-text:#242424;
  --yellow:#FFCB00;
  --white-blue: #F1F5F6;
  --second-blue: #073161;
}