body {
  font-family: 'Inter', sans-serif;
  color: var (--gray-text, #242424);
}

h2 {
  color: var(--gray-text );
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

:root {
  --white: #FFFFFF;
  --main-blue:#096BB4;
  --blue:#033F85;
  --gray:#F1F5F6;
  --dark-gray:#2F3338;
  --gray-text:#242424;
  --yellow:#FFCB00;
  --white-blue: #F1F5F6;
  --second-blue: #073161;
}