.data {
  margin-bottom: 120px;
}
.data__container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.cards:last-child {
  font-weight: 700;
  font-size: 28px;
}

.data__text {
  max-width: 65%;
  color: var(--dark-grey, #2F3338);
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
}

.data__text span {
  font-weight: 700;
}